main {
    width: 75%;
    min-width: 500px;
    margin: 0px auto;
    margin-top: 75px;
}

.banner {
    background-color: cadetblue;
    text-align: center;
    padding: 30px 0;
    margin-bottom: 50px;
}

#big-bugs {
    height: 250px;
    filter: drop-shadow( 1px 1px black);
}

.guestbook * {
    margin-bottom: 25px;
}

.guestbook h2 {
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
}

#news-feed ul {
    list-style-type: none;
}

.avatar {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url("../images/Bugs_Bunny.png");
    background-size: 50px;
    border-radius: 50%;
    vertical-align: middle;
    margin: 0 10px;
    background-color: skyblue;
}