main {
    width: 75%;
    min-width: 500px;
    margin: 0px auto;
    margin-top: 75px;
    text-align: center;
    font-family: 'Hind Siliguri', sans-serif;
}

section{
    border: 1px solid black;
    margin: 20px 0;
    padding: 10px;
}

h1, h2, h3{
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
}

h1{
    font-size: 60px;
}

h2{
    font-size: 48px;
}

h3{
    font-size: 32px;
}

.color-container{
    display: inline-block;
    vertical-align: top;
    /*border: 1px solid gray;*/
    width: 400px;
    height: 250px;
    text-align: center;
    margin: 20px;
}

.color-container > p {
    position: relative;
    margin: 0;
    top: 20px;
}

.color{
    position: relative;
    left: 25px;
    top: 10px;
    width: 350px;
    height: 150px;
    background-color: gray;
    color: white;
}

.green{
    background-color: green;
}

.seagreen{
    background-color: seagreen;
}

.darkgoldenrod{
    background-color: darkgoldenrod;
}

.cadetblue{
    background-color: cadetblue;
}

.top-align{
    position: absolute;
    top: 20px;
    width: 100%;
    text-align: center;
}

.bottom-align{
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-family: 'Source Code Pro', monospace;
    font-style: italic;
}

#fonts, #styles{
    text-align: justify;
}

#fonts > h2, #styles > h2{
    text-align: center;
    margin-bottom: 20px;
}

.font-container, .style-container{
    width: 45%;
    min-width: 400px;
    display: inline-block;
    vertical-align: top;
    margin: 20px 0;
}

.font > h3, .style-container > h3{
    text-decoration: underline;
    margin-bottom: 10px;
}

.font > p{
    margin-bottom: 5px;
}

.amatic-sc{
    font-family: 'Amatic SC', cursive;
    font-size: 24px;
    font-weight: 700;
}

.hind-siliguri{
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 400;
}

.source-code-pro{
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
}

.bold{
    font-weight: 700;
}

.italic{
    font-style: italic;
}

.size-sixty{
    font-size: 60px;
}

.size-forty-eight{
    font-size: 48px;
}

.size-thirty-two{
    font-size: 32px;
}

