* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: "Helvetica";
    font-size: 22px;
    color: seashell;
    background-color: black;
    text-align: center;
}

header{
    height: 70px;
    min-width: 600px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 9px;
    border-bottom: 1px solid seashell;
    background-color: black;
    text-align: left;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 1;
}

header img{
    height: 50px;
    width: auto;
}

header nav{
    text-align: right;
    float: right;
    width: 100%;
}

header li{
    display: inline-block;
    padding-left: 1em;
}

a {
    color: seashell;
}

main{
    margin-top: 70px;
    opacity: 0.9;
    width: 100%;
    padding: auto 0;
}

.jumbotron{
    background-image: url("../images/tea-cozy/img-mission-background.webp");
    height: 700px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-position: center;
}

.black-bar{
    background-color: black;
    width: 100%;
    padding: 10px;
}

h2{
    padding-bottom: 20px;
}

.tea-of-the-month{
    width: 100%;
    max-width: 1000px;
    margin: 75px auto;
}

.tea-of-the-month h4{
    padding-bottom: 10px;
}

#tea-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: bold;
}

.card{
    margin: 15px 15px;
}

.card img{
    width: 300px;
    height: 200px;
}

.locations{
    background-image: url("../images/tea-cozy/img-locations-background.webp");
    min-height: 500px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.locations h2{
    padding: 0px;
    text-shadow: 1px 2px 2px rgba(0,0,0,0.3)
}

#location-cards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#location-cards .card{
    width: 300px;
    height: 275px;
    padding: 20px 0 30px 0;
    margin: 15px 20px;
    background-color: black;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact{
    width: 100%;
    height: 200px;
}

.contact *{
    padding-bottom: 30px;
}

.contact h1{
    font-size: 1.5rem;
    padding: 10px 0 40px;
}

footer{
    text-align: left;
    margin-left: 20px;
    margin-bottom: 30px;
}